.card-text {
  padding-bottom: 42px;
  border-bottom: 8px solid $color-ocean;
  display: flex;
  flex-direction: column;

  @media (--tablet) {
    &__title {
      min-height: 74px;
      display: flex;
      align-items: flex-end;
    }
  }
}