<div class="card-text">
	<div class="card-text__title">
		{% include 'partials/00-atoms/title/title.twig' with {
			'class' : 'title--h4',
			'type' : 'h4',
			'title' : title
		} only %}
	</div>
	<p class="card-text__content description">{{ content }}</p>
</div>