<footer class="page-footer">
        <div class="page-footer__wrapper">
            <div class="page-footer__logo">
                <img src="http://dnka.lv/sites/dia/files/media/footer_logo.png" alt="footer_logo" class="page-footer__logo-img">
            </div>
            <h3 class="page-footer__title">DROŠĪBAS NOZARES KOMPĀNIJU ASOCIĀCIJA  | 2017</h3>
            <p>Visas tiesības paturētas</p>
        </div>
</footer>
