{% if menu %}
	<ul>
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>

			{% if item.children %}
                <ul class="nav-bar-drop">
                    {% for child in item.children %}
                        <li class="nav-bar-drop-item">
                            <a href="{{ child.link }}">{{ child.title }}</a>
							
                        </li>
            		{% endfor %}
                </ul>
            {% endif %}

		</li>
	{% endfor %}
	</ul>
{% endif %}




