{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class = "article-header">
				<p class = "article-header__date">
					{{ post.date("d.m.Y") }}
				</p>
				<h1 class="article-header__title">
					{{ post.title }}
				</h1>
				<div class="article-header__thumbnail">
					<img src="{{ post.thumbnail.src|resize(480, 284) }}">
				</div>
			</section>

			<section class="article-content">
				<div class="article-body">
					{{post.content}}
				</div>
			</section>

			{# <pre>
   			 {{ dump(post) }}
			</pre> #}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
