{# Message Template: `welcome.twig` #}
<section class="message">
        <h1>{{ post.title }} -- title</h1>
         <h2>{{ welcome_page.title }}</h2>
        <p>{{ welcome_page.content }}</p>
        <p>{{ post.link }}</p>
</section>