

.header-line {
    grid-area: header;
}
.header {
    grid-area: left-nav-bar;
}
.main {
    grid-area: main-content;
}
.aside {
    grid-area: right-side-bar;
}
.page-footer {
    grid-area: footer;
}
.wrapper-left {
    grid-area: wrapper-left;
}
.wrapper-right {
    grid-area: wrapper-right;
}




/* standart grid (less then 500 px wide)*/


.grid-container {
    display: grid;
    height: 100%;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows:  auto auto auto auto;
    grid-template-areas:
    'left-nav-bar'
    'main-content'
    'right-side-bar'
    'footer';
    

    
    grid-gap: 5px;
  
    
    
}







/* for mobiles */

@media (min-width: 500px) {
    .grid-container {
        display: grid;
        height: 100%;
        min-height: 100vh;
        grid-template-columns: auto;
        grid-template-rows: 75px auto auto auto auto;
        grid-template-areas:
        'header'
        'left-nav-bar'
        'main-content'
        'right-side-bar'
        'footer';
        
        
        grid-gap: 5px;
        /* background-color: rgb(200, 226, 248); */
        
    }


}


@media (min-width: 800px) {
    .grid-container {
        display: grid;
        height: 100%;
        min-height: 100vh;
        grid-template-columns:1fr repeat(3,auto) 1fr;
        grid-template-rows: 75px 1fr auto auto ;
        grid-template-areas:
        'header header header header header'
        'wrapper-left left-nav-bar left-nav-bar left-nav-bar wrapper-right'
        'wrapper-left main-content main-content main-content wrapper-right'
        'wrapper-left right-side-bar right-side-bar right-side-bar wrapper-right'
        'wrapper-left footer footer footer wrapper-right'
        ;
        
        grid-gap: 12px;
        /* background-color: rgb(200, 226, 248); */
        
    }
}



@media (min-width: 1400px) {
    .grid-container {
        display: grid;
        height: 100%;
        min-height: 100vh;
        grid-template-columns:1fr repeat(12, 66px) 1fr;
        grid-template-rows: 75px 1fr auto ;
        grid-template-areas:
        'header header header header header header header header header header header header header header'
        'wrapper-left left-nav-bar left-nav-bar left-nav-bar main-content main-content main-content main-content main-content main-content main-content right-side-bar right-side-bar wrapper-right'
        'wrapper-left footer footer footer footer footer footer footer footer footer footer footer footer wrapper-right';
        
        grid-gap: 12px;
        /* background-color: rgb(200, 226, 248); */
        
    }

   
    
}

