$infoPaddingTablet: 32px;
$infoPaddingDesktop: 112px;

.card-image {
  &__img {
    img {
      width: 100%;
      display: block;
    }
  }

  &__info {
    padding: 24px 16px 48px;
  }

  &:nth-of-type(2n) {
  }

  &:nth-of-type(3n) {

  }

  &:nth-of-type(4n) {

  }

  @media (--tablet) {
    display: flex;

    & + .card-image {
      margin-top: $infoPaddingTablet;
    }

    &__img,
    &__info {
      width: 50%;
    }

    &__img {
      padding-right: 24px;
    }

    &__info {
      padding: 24px $infoPaddingTablet;
      display: flex;
      align-items: center;
    }

    &:nth-of-type(even) {
      .card-image {
        &__img {
          padding-left: 24px;
          padding-right: 0;
          order: 2;
        }

        &__info {
          order: 1;
        }
      }
    }

    &:last-of-type {
      .card-image {
        &__info {
          padding: 24px $infoPaddingTablet 40px;
        }
      }
    }
  }

  @media (--laptop) {
    & + .card-image {
      margin-top: $infoPaddingDesktop;
    }

    &__info {
      padding: 24px $infoPaddingDesktop;
    }

    &:last-of-type {
      .card-image {
        &__info {
          padding: 24px $infoPaddingDesktop 40px;
        }
      }
    }
  }
}