.card-image__img img {
  width: 100%;
  display: block;
}

.card-image__info {
  padding: 24px 16px 48px;
}

@media (--tablet) {
  .card-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card-image + .card-image {
    margin-top: 32px;
  }
  .card-image__img, .card-image__info {
    width: 50%;
  }
  .card-image__img {
    padding-right: 24px;
  }
  .card-image__info {
    padding: 24px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-image:nth-of-type(even) .card-image__img {
    padding-left: 24px;
    padding-right: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .card-image:nth-of-type(even) .card-image__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .card-image:last-of-type .card-image__info {
    padding: 24px 32px 40px;
  }
}

@media (--laptop) {
  .card-image + .card-image {
    margin-top: 112px;
  }
  .card-image__info {
    padding: 24px 112px;
  }
  .card-image:last-of-type .card-image__info {
    padding: 24px 112px 40px;
  }
}
/*# sourceMappingURL=card-image.css.map */