<div class="card-image">
	{% if img %}
		<div class="card-image__img">
			<img src="{{ img }}" alt="">
		</div>
	{% endif %}
	<div class="card-image__info">
		<div class="card-image__content wyswyg">{{ content }}</div>
	</div>
</div>