{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				
				<div class="article-body">

                    <div class="my-list">
                        {% for grupa in post.get_field('group') %}
                            <div class="grupa">
                                <h4>{{grupa.group_header}}</h4>
                                 {% for item in grupa.person %}
                                    <img src="{{TimberImage(item.person_logo).src|resize( 136 , 194 )}}" />
                                    <h5> {{item.person_header}} </h5>
                                    <p> {{item.person_content}} </p>
                                 {% endfor %}
                            </div>
                        {% endfor %}
                    </div>

<img src="{{TimberImage(post.get_field('hero_image')).src}}" />


				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}



