{% extends "base.twig" %}


{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        
                    
            <section class="article-content">
                <p>{{post.content}}</p>
            </section>

            {{post.map}}
            

                {# <pre>
                {{ dump(post) }}
                </pre> #}
        </article>
    </div><!-- /content-wrapper -->

{% endblock %}