{% extends "base.twig" %}


{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <div class = "article-thumbnail">
                <img src="{{ post.thumbnail.src|resize(480, 284) }}">
            </div>
                    
            <section class="article-content">
                <p>{{post.content}}</p>
            </section>
            

                {# <pre>
                {{ dump(post) }}
                </pre> #}
        </article>
    </div><!-- /content-wrapper -->

{% endblock %}