<header class="header">
	<div class="wrapper">
		<div class="header__content">
			<h1 class="header__logo"><a href="/"><img src="{{ TimberImage(option.logo)}}" alt="{{ option.logo.title }}"></a></h1>
			<div class="header__side">
				<ul class="header__lang">
				</ul>
				<div class="header__burger-button js-burger">
					<div class="header__burger-box">
						<div class="header__burger"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__drop js-header-drop">
		<div class="header__drop-nav">
			<div class="header__burger-button js-burger">
				<div class="header__burger-box">
					<div class="header__burger"></div>
				</div>
			</div>
		</div>
		<ul class="header__drop-list">
			<li><a href="/">Mēs</a></li>
			<li><a href="/">Kompetences</a></li>
			<li><a href="/">Kontakti</a></li>
		</ul>
	</div>
</header>