.header {
  position: relative;
  padding-bottom: 24px;
  z-index: 1000;

  &__content {
    padding-top: 18px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__side {
    float: right;
  }

  &__logo {
    width: 192px;
    display: inline-block;
    float: left;

    img {
      width: 100%;
      display: block;
    }
  }

  &__burger {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $color-white;
    opacity: 1;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;

    &:before,
    &:after {
      position: absolute;
      width: 34px;
      height: 2px;
      display: block;
      background-color: $color-white;
      content: "";
      transition: all .3s ease-in-out;
    }

    &:before {
      transform: translateY(10px);
    }

    &:after {
      transform: translateY(-10px);
    }

    &-box {
      position: relative;
      width: 34px;
      height: 24px;
      display: inline-block;
    }

    &-button {
      width: 34px;
      height: 24px;
      cursor: pointer;
    }

    &--open {
      .header__burger {
        background-color: transparent;

        &:before {
          top: 0;
          transform: rotate(45deg) translateY(0);
        }

        &:after {
          bottom: 0;
          transform: rotate(-45deg) translateY(0);
        }
      }
    }
  }

  &__drop {
    position: absolute;
    background-color: $color-primary;
    top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;

    &--active {
      height: 100vh;
    }

    &-nav {
      @include container;
      position: absolute;
      top: 41px;

      .header__burger-button {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &-list {
      width: 220px;
      text-align: center;

      li + li {
        margin-top: 42px;
      }

      a {
        position: relative;
        padding-bottom: 12px;
        overflow: hidden;
        display: block;
        color: $color-white;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;

        &:before,
        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          content: '';
        }

        &::before {
          background-color: $color-white;
        }

        &:after {
          background-color: $color-ocean;
          transform: translateX(-100%);
          transition: transform 0.3s ease-in;
        }

        &:hover {
          &:after {
            transform: translateX(0);
          }
        }
      }
    }
  }

  @media (--tablet) {
    &__logo {
      width: 250px
    }

    &__content {
      padding-top: 24px;
    }

    &__burger {
      height: 3px;
      border-radius: 10px;

      &:before,
      &:after {
        width: 50px;
        height: 3px;
        border-radius: 10px;
      }

      &:before {
        transform: translateY(13px);
      }

      &:after {
        transform: translateY(-13px);
      }

      &-box {
        width: 50px;
        height: 30px;
      }

      &-button {
        width: 50px;
        height: 30px;
      }
    }

    &__drop {
      &-nav {
        top: 55px;
      }
    }
  }
}