<!DOCTYPE html>
	{% block html_head_container %}

	{% include 'html-header.twig' %}
		{% block head %}
		{% endblock %}
	{% endblock %}

	<body class="{{body_class}}">
		{% block header %}
			{% include 'partials/02-organisms/header/header.twig' with {
				'option' : option
			} only %}
		{% endblock %}

		<section id="content" role="main" class="site-content">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</section>

		{% block footer %}
			{% include 'partials/02-organisms/footer/footer.twig' with {
				'site' : site,
				'option' : option
 			} only %}
			{% include 'partials/00-atoms/image/svg-icons.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>