<footer class="footer">
	<div class="wrapper">
		<div class="footer__content">
			<h4 class="footer__title">{{ __("Contacts", "rusanovs") }}</h4>
			{% set contacts = option.contacts %}
			{% if contacts %}
				<ul class="footer__list">
					<li class="footer__item">
						{% include 'partials/00-atoms/link/link.twig' with {
							'type' : 'mailto',
							'class' : 'email',
							'link' : contacts.contactsEmail
						} only %}
					</li>
					<li class="footer__item">
						{% include 'partials/00-atoms/link/link.twig' with {
							'class' : 'address',
							'link' : contacts.contactsAddress
						} only %}
					</li>
					<li class="footer__item">
						{% include 'partials/00-atoms/link/link.twig' with {
							'type' : 'tel',
							'class' : 'phone',
							'link' : contacts.contactsPhone
						} only %}
					</li>
				</ul>
			{% endif %}
			<div class="footer__btn">
				{% include 'partials/00-atoms/buttons/button.twig' with {
					'title' : 'Visi kontakti'
				} only %}
			</div>
			<p class="footer__copy">&copy; {{ "now"|date("Y") }} Zvērinātu advokātu birojs «Rusanovs & Partneri». All rights reserved</p>
		</div>
	</div>
</footer>