.footer {
  padding: 56px 0 46px;
  overflow: hidden;

  &__title {
    color: $color-snow;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    margin-top: 24px;
  }

  &__item {
    .link {
      font-size: 14px;
      line-height: 16px;

      .icon {
        top: 0;
      }

      p {
        display: inline;
      }
    }
  }

  &__btn {
    margin-top: 40px;
    text-align: center;
  }

  &__copy {
    margin-top: 24px;
    color: $color-cave;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
  }

  @media (--tablet) {
    &__list {
      display: flex;
      justify-content: space-between;
    }
  }
}