<a href="{% if type %}{{ type }}:{% endif %}{{ link|replace({' ': ''}) }}"
   class="link link--{{ class }}">
	<svg class="icon icon--{{ class }}">
		<use xlink:href="#icon-{{ class }}"/>
	</svg>
	<span>{{ link }}</span>
</a>