.link {
  position: relative;
  display: inline-block;
  color: $color-white;
  font-size: 16px;
  line-height: 24px;

  &--phone {
    font-weight: 700;
  }

  &--address,
  &--email {
    font-weight: 300;
  }

  .icon {
    position: absolute;
    top: 5px;
    left: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
  }

  span {
    padding-left: 24px;
    display: inline-block;
  }
}