.contacts {
  &__intro {
    margin-top: 24px;
    padding-top: 20px;
    border-top: 2px solid $color-grey;

    &-details,
    &-address {
      p {
        font-weight: 300;
        color: $color-white;
        font-size: 18px;
        line-height: 24px;
      }
    }

    &-details {
      margin-top: 20px;
    }

    &-box {
      margin-top: 8px;

      .link {
        .icon {
          top: 2px;
          width: 20px;
          height: 20px;
        }

        span {
          padding-left: 32px;
        }
      }
    }

    &-address {
      margin-top: 24px;

      p + p {
        margin-top: 8px;
      }
    }
  }
  
  &__persons {
    &-category {
      & + .contacts__persons-category {
        margin-top: 64px;
      }
    }

    &-bg {
      @include absolute-position;
      background-image: url("assets/img/svg/lines-background.svg");
      background-position: top left;
      background-repeat: repeat;
      background-size: contain;
      z-index: -1;
      opacity: 0.13;
    }

    &-block {
      &:nth-of-type(1) {
        position: relative;
        margin-top: 32px;
        padding: 32px 0;

        &:before,
        &:after {
          position: absolute;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $color-grey;
          content: '';
          opacity: 0.3;
        }

        &:before {
          top: 0;
        }

        &:after {
          bottom: 0;
        }
      }

      &:nth-of-type(2) {
        padding: 40px 0 32px;
      }
    }

    &-item {
      margin-top: 32px;

      .card-person {
        margin: 0 auto;
        max-width: 200px;
      }
    }
  }

  @media (--mobileL) {
    &__persons {
      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }


      &-item {
        width: 50%;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  @media (--tablet) {
    padding-bottom: 48px;

    &__intro {
      margin-top: 56px;
      padding-top: 0;
      border-top: none;

      &-wrap {
        display: flex;
        justify-content: space-between;
      }

      &-details,
      &-address {
        margin-top: 0;
      }

      &-title {
        .title {
          text-align: left;
        }
      }
    }

    &__persons {
      &-block {
        &:nth-of-type(1) {
          margin-top: 80px;
          padding: 32px 0 48px;
        }

        &:nth-of-type(2) {
          padding: 40px 0 56px;
        }
      }

      &-list {
        justify-content: center;
      }

      &-item {
        margin-top: 48px;
        width: 33.33%;

        &:nth-of-type(1n+3) {
          margin-top: 80px;
        }
      }
    }
  }

  @media (--tabletL) {
    &__intro {
      &-content {
        lost-column: 12/12;
      }

      &-title {
        lost-column: 4/12;
      }

      &-wrap {
        lost-column: 8/12;
        margin-top: 26px;
        display: block;
      }

      &-details,
      &-address {
        lost-column: 4/8;
      }
    }
  }
}