{% extends "base.twig" %}

{% block content %}
	<div class="contacts">
		<div class="contacts__intro">
			<div class="wrapper">
				<div class="contacts__intro-content">
					<div class="contacts__intro-title">
						{% include 'partials/00-atoms/title/title.twig' with {
							'class' : 'title--page',
							'type' : 'h2',
							'title' : post.title
						} only %}
					</div>
					{% set contacts = option.contacts %}
					{% if contacts %}
						<div class="contacts__intro-wrap">
							<div class="contacts__intro-details">
								<p>{{ contacts.contactsPosition }}</p>
								<div class="contacts__intro-box">
									{% include 'partials/00-atoms/link/link.twig' with {
										'class' : 'phone',
										'type' : 'tel',
										'link' : contacts.contactsPhone
									} only %}
								</div>
								<div class="contacts__intro-box">
									{% include 'partials/00-atoms/link/link.twig' with {
										'class' : 'email',
										'type' : 'mailto',
										'link' : contacts.contactsEmail
									} only %}
								</div>
							</div>
							<div class="contacts__intro-address">
								<div class="contacts__intro-text">{{ contacts.contactsAddress }}</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="contacts__persons">
			{% set categories = post.get_field('contactsPersons') %}

			<div class="contacts__persons-block">
				<div class="contacts__persons-bg"></div>
				<div class="wrapper">
					<div class="contacts__persons-categories">
						{% for category in categories %}
							{% if loop.index < 3 %}
								<div class="contacts__persons-category">
									{% include 'partials/00-atoms/title/title.twig' with {
										'title' : category.contactsPersonsCategory.name
									} only %}
									{#{{ dump(category.contactsPersonsCategory.name) }}#}
									<div class="contacts__persons-list">
										{% for person in category.contactsPersonsListed %}
											{% set personInfo = person.get_field('personMainInfo') %}
											<div class="contacts__persons-item">
												{% include 'partials/01-molecules/card-person/card-person.twig' with {
													'class' : 'card-person--small',
													'title' : person.title,
													'link' : person.link,
													'img' : TimberImage(person.thumbnail),
													'phone' : personInfo.personPhone,
													'email' : personInfo.personEmail
												} only %}
											</div>
										{% endfor %}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="contacts__persons-block">
				<div class="wrapper">
					<div class="contacts__persons-categories">
						{% for category in categories %}
							{% if loop.index > 2 %}
								<div class="contacts__persons-category">
									{% include 'partials/00-atoms/title/title.twig' with {
										'title' : category.contactsPersonsCategory.name
									} only %}
									{#{{ dump(category.contactsPersonsCategory.name) }}#}
									<div class="contacts__persons-list">
										{% for person in category.contactsPersonsListed %}
											{% set personInfo = person.get_field('personMainInfo') %}
											<div class="contacts__persons-item">
												{% include 'partials/01-molecules/card-person/card-person.twig' with {
													'class' : 'card-person--small',
													'title' : person.title,
													'link' : person.link,
													'img' : TimberImage(person.thumbnail),
													'phone' : personInfo.personPhone,
													'email' : personInfo.personEmail
												} only %}
											</div>
										{% endfor %}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}