.home {
  &__intro {
    &-title {
      color: $color-white;
      font-family: $font-secondary;
      font-size: 36px;
      font-weight: 600;
      line-height: 48px;
    }

    &-author {
      margin-top: 14px;
      color: $color-snow;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__qoutes {
    &-item {
      & + .home__qoutes-item {
        margin-top: 48px;
      }
    }
  }

  &__competences{
    &-content {
      @include large-container;
      background-color: $color-white;
    }
  }

  @media (--tablet) {
    &__intro {
      &-title {
        max-width: 50%;
      }
    }

    &__qoutes {
      &-list {
        display: flex;
      }

      &-item {
        margin-right: 24px;
        display: flex;
        flex: 1;

        &:last-of-type {
          margin-right: 0;
        }

        & + .home__qoutes-item {
          margin-top: 0;
        }
      }
    }

    &__competences {
      &-content {
        position: relative;

        &:after {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 24px;
          background-color: $color-primary;
          content: "";
        }
      }

      &-list {
        position: relative;
        z-index: 1;
      }
    }
  }

  @media (--laptop) {
    &__intro {
      &-title {
        font-size: 50px;
        line-height: 72px;
      }

      &-author {
        margin-top: 24px;
      }
    }
  }
}