{% extends "base.twig" %}

{% block content %}
	<div class="home">
		{% set homeIntro = post.get_field('homeIntro') %}
		<div class="home__intro">
			<div class="wrapper">
				<div class="home__intro-content">
					<h2 class="home__intro-title">{{ homeIntro.homeQuote }}</h2>
					<p class="home__intro-author">{{ homeIntro.homeQuoteAuthor }}</p>
					<div class="home__intro-image">
						<img src="{{ TimberImage(post.thumbnail) }}" alt="">
					</div>
				</div>
			</div>
		</div>
		{% set qoutes = post.get_field('homeBlocks') %}
		{% if qoutes %}
			<div class="home__qoutes">
				<div class="wrapper">
					<div class="home__qoutes-list">
						{% for item in qoutes %}
							<div class="home__qoutes-item">
								{% include 'partials/01-molecules/card-text/card-text.twig' with {
									'title' : item.homeBlocksTitle,
									'content' : item.homeBlocksDescription
								} only %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}

		{% set people = post.get_field('homePeople') %}
		{% if people %}
			<div class="home__people">
				{% include 'partials/00-atoms/title/title.twig' with {
					'class' : 'title--sub title--wide',
					'title' : people.homePeople
				} only %}

				<div class="home__people-btn">
					{% include 'partials/00-atoms/buttons/button.twig' with {
						'title' : 'Visi kontakti'
					} only %}
				</div>
			</div>
		{% endif %}

		{% set competences = post.get_field('homeCompetences') %}
		{% if competences %}
			<div class="home__competences">
				{% include 'partials/00-atoms/title/title.twig' with {
					'class' : 'title--sub title--wide',
					'title' : competences.homeCompetencesTitle
				} only %}
				<div class="home__competences-content">
					<div class="home__competences-list">
						{% for item in competences.homeCompetencesRepeat %}
							{% include 'partials/01-molecules/card-image/card-image.twig' with {
								'img' : TimberImage(item.homeCompetencesRepeatImage),
								'content' : item.homeCompetencesRepeatDescription
							} only %}
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}