{% extends "base.twig" %}

{% block content %}
	<div class="person">
		<div class="person__main">
			<div class="wrapper">
				<div class="person__main-content">
					<div class="person__main-image">
						<img src="{{ TimberImage(post.thumbnail) }}" alt="">
					</div>
					<div class="person__main-info">
						<h2 class="person__main-title">{{ post.title }}</h2>
						{% set info = post.get_field('personMainInfo') %}
						<p class="person__main-group">{{ info.personPosition }}</p>
						<ul class="person__main-contacts">
							<li>
								{% include 'partials/00-atoms/link/link.twig' with {
									'class' : 'phone',
									'type' : 'tel',
									'link' : info.personPhone
								} only %}
							</li>
							<li>
								{% include 'partials/00-atoms/link/link.twig' with {
									'class' : 'email',
									'type' : 'mailto',
									'link' : info.personEmail
								} only %}
							</li>
						</ul>
						<div class="person__main-desc">
							{{ info.personDescription }}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="person__content">
			<div class="wrapper">
				<div class="person__content-list">
					{% set additional = post.get_field('personAdditionalInfo') %}
					<div class="person__content-col">
						{% if additional.personExperience %}
							<div class="person__content-item">
								<div class="person__content-title">
									{% include 'partials/00-atoms/title/title.twig' with {
										'class' : 'title--h4 title--dark',
										'type' : 'h4',
										'title' : __("Expierence", "rusanovs")
									} only %}
								</div>
								<div class="person__content-desc wyswyg">
									{{ additional.personExperience }}
								</div>
							</div>
						{% endif %}

						{% if additional.personBooks %}
							<div class="person__content-item">
								<div class="person__content-title">
									{% include 'partials/00-atoms/title/title.twig' with {
										'class' : 'title--h4 title--dark',
										'type' : 'h4',
										'title' : __("Co-author of the book", "rusanovs")
									} only %}
								</div>
								<div class="person__content-desc wyswyg">
									{{ additional.personBooks }}
								</div>
							</div>
						{% endif %}

						{% if additional.personAwards %}
							<div class="person__content-item">
								<div class="person__content-title">
									{% include 'partials/00-atoms/title/title.twig' with {
										'class' : 'title--h4 title--dark',
										'type' : 'h4',
										'title' : __("Awards", "rusanovs")
									} only %}
								</div>
								<div class="person__content-desc wyswyg">
									{{ additional.personAwards }}
								</div>
							</div>
						{% endif %}
					</div>
					<div class="person__content-col">
						{% if additional.personEducation %}
							<div class="person__content-item">
								<div class="person__content-title">
									{% include 'partials/00-atoms/title/title.twig' with {
										'class' : 'title--h4 title--dark',
										'type' : 'h4',
										'title' : __("Education", "rusanovs")
									} only %}
								</div>
								<div class="person__content-desc wyswyg">
									{{ additional.personEducation }}
								</div>
							</div>
						{% endif %}

						{% if additional.personCorporation %}
							<div class="person__content-item">
								<div class="person__content-title">
									{% include 'partials/00-atoms/title/title.twig' with {
										'class' : 'title--h4 title--dark',
										'type' : 'h4',
										'title' : __("Participation in professional corporations", "rusanovs")
									} only %}
								</div>
								<div class="person__content-desc wyswyg">
									{{ additional.personCorporation }}
								</div>
							</div>
						{% endif %}

						{% set languages = additional['personLanguageRep'] %}
						{% if additional.personLanguageRep %}
							<div class="person__content-item">
								<div class="person__content-title">
									{% include 'partials/00-atoms/title/title.twig' with {
										'class' : 'title--h4 title--dark',
										'type' : 'h4',
										'title' : __("Languages", "rusanovs")
									} only %}
								</div>
								<ul class="person__content-lang">
									{% for lang in additional['personLanguageRep'] %}
										<li>{{ lang.personLanguage }}</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="person__publication">
			<div class="wrapper">
				<h2 class="person__publication-title">{{ __("Publication", "rusanovs") }}</h2>
			</div>
		</div>
	</div>
{% endblock %}