.person {
  &__main {
    &-content {
      padding: 24px 0 56px;
    }

    &-image {
      margin: 0 auto;
      width: 130px;

      img {
        display: block;
      }
    }

    &-title {
      color: $color-white;
      font-family: $font-secondary;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
    }

    &-group {
      margin-top: 8px;
      color: $color-white;
      font-size: 18px;
      line-height: 24px;
    }

    &-contacts {
      margin-top: 20px;

      li + li {
        margin-top: 8px;
      }
    }

    &-desc {
      margin-top: 16px;
      color: $color-white;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__content {
    position: relative;
    padding: 36px 0 44px;
    background-color: $color-white;

    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      border-top: 15px solid $color-primary;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      content: '';
      transform: translateX(-50%);
    }

    &-desc {
      padding-top: 8px;
      color: $color-night;

      p,
      span {
        font-size: 16px;
        line-height: 24px;
      }

      p + p {
        margin-top: 8px;
      }
    }

    &-col {
      & + .person__content-col {
        margin-top: 30px;
      }
    }

    &-item {
      & + .person__content-item {
        margin-top: 30px;
      }
    }

    &-lang {
      overflow: hidden;

      li {
        position: relative;
        display: inline-block;
        float: left;
        color: $color-night;
        font-size: 16px;
        line-height: 24px;

        & + li {
          margin-left: 16px;
          padding-left: 16px;

          &:before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 80%;
            background-color: $color-grey;
            content: '';
            transform: translateY(-50%) rotate(20deg);
          }
        }
      }
    }
  }

  @media (--mobileL) {
    &__content {
      &-lang {
        li + li {
          margin-left: 24px;
          padding-left: 24px;
        }
      }
    }
  }

  @media (--tablet) {
    &__content {
      &-list {
        lost-column: 12/12;
      }

      &-col {
        lost-column: 6/12;

        & + .person__content-col {
          margin-top: 0;
        }
      }

      &-lang {
        li + li {
          margin-left: 32px;
          padding-left: 32px;
        }
      }
    }
  }

  @media (--laptop) {
    &__content {
      &-lang {
        li + li {
          margin-left: 48px;
          padding-left: 48px;
        }
      }
    }
  }
}