{% if type=="button" %}
	<button id="{% if id %}{{ id }}{% endif %}" class="button {{ class }}">
		{{ title }}
	</button>
{% else %}
	<a href ="{% if url %}{{ url }}{% else %}javascript:void(0);{% endif %}"
	   id="{% if id %}{{ id }}{% endif %}" class="button {{class}}"
		{% if type %} type="{{ type }}" {% endif %}
		{% if target %} target="{{ target }}" {% endif %}>
		{{ title }}
	</a>
{% endif %}
