.button {
  position: relative;
  z-index: 3;
  padding: 16px;
  min-width: 240px;
  border: none;
  border-radius: 0;
  display: inline-block;
  overflow: hidden;
  background: none;
  color: $color-grey;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;


  &:before,
  &:after {
    @include absolute-position;
    z-index: -1;
    width: 100%;
    content: "";
    transition: all 0.3s;
  }

  &:before {
    border: 3px solid #898686;
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -2;
    width: 50px;
    height: 155px;
    background: $color-white;
    opacity: 0.2;
    transform: translate(-200%, -50%) rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover{
    &:after {
      transform: translate(700%, -50%) rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}