.title {
  margin-bottom: 10px;
  color: $color-white;
  font-family: $font-secondary;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;

  &--h1 {
    font-size: 32px;
    line-height: 32px;
  }

  &--h3 {
    font-size: 32px;
    line-height: 40px;
  }

  &--h4 {
    margin-bottom: 6px;
    font-size: 26px;
    line-height: 32px;
    text-align: left;
  }

  &--h5, &--h6 {
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  &--sub {
    font-size: 26px;
  }

  &--wide {
    line-height: 66px;
  }

  &--dark {
    color: $color-primary;
  }

  @media (--tablet) {
    margin-bottom: 24px;

    &--h1 {
      font-size: 46px;
      line-height: 48px;
    }

    &--h4 {
      margin-bottom: 10px;
    }

    &--sub {
      font-size: 36px;
    }

    &--page {
      font-size: 46px;
      line-height: 48px;
    }
  }
}