<div class="card-person {{ class }}">
	<a href="{{ link }}" class="card-person__profile"></a>
	<div class="card-person__content">
		{% if img.src %}
			<div class="card-person__image">
				<img src="{{ img }}" alt="Person profile">
			</div>
		{% endif %}
		<div class="card-person__title">
			{% include 'partials/00-atoms/title/title.twig' with {
				'title' : title
			} only %}
		</div>
		<div class="card-person__line"></div>
	</div>
	{% if phone %}
		<div class="card-person__box">
			{% include 'partials/00-atoms/link/link.twig' with {
				'class' : 'phone',
				'type' : 'tel',
				'link' : phone
			} only %}
		</div>
	{% endif %}
	{% if email %}
		<div class="card-person__box">
			{% include 'partials/00-atoms/link/link.twig' with {
				'class' : 'email',
				'type' : 'mailto',
				'link' : email
			} only %}
		</div>
	{% endif %}
	{% if author %}
		<p class="card-person__author">{{ author }}</p>
	{% endif %}
</div>