.card-person {
  position: relative;

  &--small {
    .card-person {
      &__title {
        width: 50%;
      }

      &__image {
        width: 90px;
        margin: 0 auto;
      }
    }

    .title {
      font-size: 26px;
      line-height: 28px;
    }
  }

  &__profile {
    @include absolute-position;
    z-index: 1;

    &:hover {
      & + .card-person__content {
        .card-person__line {
          &:before {
            transform: translateX(0);
          }
        }
      }
    }
  }

  &__content {
    position: relative;
  }

  &__title {
    padding-bottom: 4px;

    .title {
      text-align: left;
    }
  }

  &__image {
    img {
      display: block;
    }

    & + .card-person__title {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__line {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 8px;
    overflow: hidden;

    &:before {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: $color-ocean;
      content: '';
      transform: translateX(-100%);
      transition: transform 0.3s ease-in;
    }
  }

  @media (--tablet) {
    &__line {
      bottom: 10px;
    }
  }
}